<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Registratsiya</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'dash/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'dash/css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Akkaunt Yaratish</h1>
                            </div>
                            <form method="post" action="{% url 'register' %}" class="user">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <label for="exampleUsername" class="sr-only">Username</label>
                                        <input type="text" class="form-control form-control-user" id="exampleUsername" name="username"
                                            placeholder="Foydalanuvchi nomingiz" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="exampleFullName" class="sr-only">Full Name</label>
                                        <input type="text" class="form-control form-control-user" id="exampleFullName" name="full_name"
                                            placeholder="Ism & Familyangiz" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail" class="sr-only">Email</label>
                                    <input type="email" class="form-control form-control-user" id="exampleInputEmail" name="email"
                                        placeholder="Email Adresingiz" required>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <label for="exampleInputPassword" class="sr-only">Password</label>
                                        <input type="password" class="form-control form-control-user" id="exampleInputPassword" name="password"
                                            placeholder="Parol" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="exampleRepeatPassword" class="sr-only">Repeat Password</label>
                                        <input type="password" class="form-control form-control-user" id="exampleRepeatPassword" name="confirm_password"
                                            placeholder="Parolni qayta kiriting" required>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Registratsiyadan o'tish
                                </button>
                                <hr>
                                <a href="#" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Google bilan registratsiya qilish
                                </a>
                                <a href="#" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Facebook bilan registratsiya qilish
                                </a>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Parolni unutdingizmi?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="{% url 'login' %}">Allaqachon akkaunt yaratilganmi? Tizimga kirish!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'dash/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'dash/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'dash/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'dash/js/sb-admin-2.min.js' %}"></script>

</body>

</html>